name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: yarn
    - run: yarn test --coverage
    - uses: codecov/codecov-action@v2
      with:
        fail_ci_if_error: true
